/* app css stylesheet */

body {
  padding-top: 60px;
}

h1 {
  border-bottom: 1px solid gray;
}

.content {
  min-height: 600px;
}

.footer {
  color: white;
  background-color: gray;
  min-height: 120px;
}