<header class="header">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">EGD Proxy Demo App</a>
        <ul class="nav">
          <li class="active"><a href="#/data">Data</a></li>
          <li><a href="#/status">Status</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="container">

  <h1>Data view</h1>
  <p></p>

  <p class="alert alert-error" ng-show="message">{{message}}</p>

  <p>Data view</p>
</div>
